@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  
}

body {
  background-image: linear-gradient(to left, #02735E, #038C65);
}

main {
  background-color: #ffffff;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #01152691;
}

h1 {
  color: #011526;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(2, 29, 53, 0.534);
}

h2 {
  color: #012E40;
}


p {
  text-align: justify;
}